In [1]:
import pandas as pd

In [16]:
df22 = pd.read_csv('data/atp_matches_2022.csv')
df21 = pd.read_csv('data/atp_matches_2021.csv')
df20 = pd.read_csv('data/atp_matches_2020.csv')
df19 = pd.read_csv('data/atp_matches_2019.csv')
df18 = pd.read_csv('data/atp_matches_2018.csv')
df17 = pd.read_csv('data/atp_matches_2017.csv')
df16 = pd.read_csv('data/atp_matches_2016.csv')
df15 = pd.read_csv('data/atp_matches_2015.csv')
df14 = pd.read_csv('data/atp_matches_2014.csv')
df13 = pd.read_csv('data/atp_matches_2013.csv')
df12 = pd.read_csv('data/atp_matches_2012.csv')
df11 = pd.read_csv('data/atp_matches_2011.csv')
df10 = pd.read_csv('data/atp_matches_2010.csv')
df9 = pd.read_csv('data/atp_matches_2009.csv')
df8 = pd.read_csv('data/atp_matches_2008.csv')
df7 = pd.read_csv('data/atp_matches_2007.csv')
df6 = pd.read_csv('data/atp_matches_2006.csv')
df5 = pd.read_csv('data/atp_matches_2005.csv')

In [8]:
df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2000 non-null   object
 1   tourney_name        2000 non-null   object
 2   surface             2000 non-null   object
 3   draw_size           2000 non-null   int64
 4   tourney_level       2000 non-null   object
 5   tourney_date        2000 non-null   int64
 6   match_num           2000 non-null   int64
 7   winner_id           2000 non-null   int64
 8   winner_seed         887 non-null    object
 9   winner_entry        314 non-null    object
 10  winner_name         2000 non-null   object
 11  winner_hand         2000 non-null   object
 12  winner_ht           1970 non-null   float64
 13  winner_ioc          2000 non-null   object
 14  winner_age          2000 non-null   float64
 15  loser_id            2000 non-null   int64
 16  loser_seed          534 non-null    object
 17  loser_entry         435 non-null    object
 18  loser_name          2000 non-null   object
 19  loser_hand          2000 non-null   object
 20  loser_ht            1937 non-null   float64
 21  loser_ioc           2000 non-null   object
 22  loser_age           1999 non-null   float64
 23  score               1999 non-null   object
 24  best_of             2000 non-null   int64
 25  round               2000 non-null   object
 26  minutes             1864 non-null   float64
 27  w_ace               1856 non-null   float64
 28  w_df                1856 non-null   float64
 29  w_svpt              1856 non-null   float64
 30  w_1stIn             1856 non-null   float64
 31  w_1stWon            1856 non-null   float64
 32  w_2ndWon            1856 non-null   float64
 33  w_SvGms             1856 non-null   float64
 34  w_bpSaved           1856 non-null   float64
 35  w_bpFaced           1856 non-null   float64
 36  l_ace               1856 non-null   float64
 37  l_df                1856 non-null   float64
 38  l_svpt              1856 non-null   float64
 39  l_1stIn             1856 non-null   float64
 40  l_1stWon            1856 non-null   float64
 41  l_2ndWon            1856 non-null   float64
 42  l_SvGms             1856 non-null   float64
 43  l_bpSaved           1856 non-null   float64
 44  l_bpFaced           1856 non-null   float64
 45  winner_rank         1996 non-null   float64
 46  winner_rank_points  1996 non-null   float64
 47  loser_rank          1994 non-null   float64
 48  loser_rank_points   1994 non-null   float64
dtypes: float64(27), int64(6), object(16)
memory usage: 765.8+ KB

In [10]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2733 entries, 0 to 2732
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2733 non-null   object
 1   tourney_name        2733 non-null   object
 2   surface             2733 non-null   object
 3   draw_size           2733 non-null   int64
 4   tourney_level       2733 non-null   object
 5   tourney_date        2733 non-null   int64
 6   match_num           2733 non-null   int64
 7   winner_id           2733 non-null   int64
 8   winner_seed         1165 non-null   float64
 9   winner_entry        417 non-null    object
 10  winner_name         2733 non-null   object
 11  winner_hand         2731 non-null   object
 12  winner_ht           2723 non-null   float64
 13  winner_ioc          2733 non-null   object
 14  winner_age          2733 non-null   float64
 15  loser_id            2733 non-null   int64
 16  loser_seed          693 non-null    float64
 17  loser_entry         635 non-null    object
 18  loser_name          2733 non-null   object
 19  loser_hand          2733 non-null   object
 20  loser_ht            2698 non-null   float64
 21  loser_ioc           2733 non-null   object
 22  loser_age           2733 non-null   float64
 23  score               2733 non-null   object
 24  best_of             2733 non-null   int64
 25  round               2733 non-null   object
 26  minutes             2650 non-null   float64
 27  w_ace               2636 non-null   float64
 28  w_df                2636 non-null   float64
 29  w_svpt              2636 non-null   float64
 30  w_1stIn             2636 non-null   float64
 31  w_1stWon            2636 non-null   float64
 32  w_2ndWon            2636 non-null   float64
 33  w_SvGms             2637 non-null   float64
 34  w_bpSaved           2636 non-null   float64
 35  w_bpFaced           2636 non-null   float64
 36  l_ace               2636 non-null   float64
 37  l_df                2636 non-null   float64
 38  l_svpt              2636 non-null   float64
 39  l_1stIn             2636 non-null   float64
 40  l_1stWon            2636 non-null   float64
 41  l_2ndWon            2636 non-null   float64
 42  l_SvGms             2637 non-null   float64
 43  l_bpSaved           2636 non-null   float64
 44  l_bpFaced           2636 non-null   float64
 45  winner_rank         2728 non-null   float64
 46  winner_rank_points  2728 non-null   float64
 47  loser_rank          2707 non-null   float64
 48  loser_rank_points   2707 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.0+ MB

In [12]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          1462 non-null   object
 1   tourney_name        1462 non-null   object
 2   surface             1462 non-null   object
 3   draw_size           1462 non-null   int64
 4   tourney_level       1462 non-null   object
 5   tourney_date        1462 non-null   int64
 6   match_num           1462 non-null   int64
 7   winner_id           1462 non-null   int64
 8   winner_seed         578 non-null    float64
 9   winner_entry        233 non-null    object
 10  winner_name         1462 non-null   object
 11  winner_hand         1462 non-null   object
 12  winner_ht           1451 non-null   float64
 13  winner_ioc          1462 non-null   object
 14  winner_age          1462 non-null   float64
 15  loser_id            1462 non-null   int64
 16  loser_seed          325 non-null    float64
 17  loser_entry         327 non-null    object
 18  loser_name          1462 non-null   object
 19  loser_hand          1458 non-null   object
 20  loser_ht            1426 non-null   float64
 21  loser_ioc           1462 non-null   object
 22  loser_age           1462 non-null   float64
 23  score               1462 non-null   object
 24  best_of             1462 non-null   int64
 25  round               1462 non-null   object
 26  minutes             1421 non-null   float64
 27  w_ace               1415 non-null   float64
 28  w_df                1415 non-null   float64
 29  w_svpt              1415 non-null   float64
 30  w_1stIn             1415 non-null   float64
 31  w_1stWon            1415 non-null   float64
 32  w_2ndWon            1415 non-null   float64
 33  w_SvGms             1415 non-null   float64
 34  w_bpSaved           1415 non-null   float64
 35  w_bpFaced           1415 non-null   float64
 36  l_ace               1415 non-null   float64
 37  l_df                1415 non-null   float64
 38  l_svpt              1415 non-null   float64
 39  l_1stIn             1415 non-null   float64
 40  l_1stWon            1415 non-null   float64
 41  l_2ndWon            1415 non-null   float64
 42  l_SvGms             1415 non-null   float64
 43  l_bpSaved           1415 non-null   float64
 44  l_bpFaced           1415 non-null   float64
 45  winner_rank         1448 non-null   float64
 46  winner_rank_points  1448 non-null   float64
 47  loser_rank          1427 non-null   float64
 48  loser_rank_points   1427 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 559.8+ KB

In [ ]:
# df20 = df20.dropna(subset=['w_ace'])

In [21]:
data = pd.concat([df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22], ignore_index = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51523 entries, 0 to 51522
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          51523 non-null  object
 1   tourney_name        51523 non-null  object
 2   surface             51523 non-null  object
 3   draw_size           51523 non-null  int64
 4   tourney_level       51523 non-null  object
 5   tourney_date        51523 non-null  int64
 6   match_num           51523 non-null  int64
 7   winner_id           51523 non-null  int64
 8   winner_seed         22024 non-null  object
 9   winner_entry        6505 non-null   object
 10  winner_name         51523 non-null  object
 11  winner_hand         51514 non-null  object
 12  winner_ht           50566 non-null  float64
 13  winner_ioc          51523 non-null  object
 14  winner_age          51522 non-null  float64
 15  loser_id            51523 non-null  int64
 16  loser_seed          12045 non-null  object
 17  loser_entry         10602 non-null  object
 18  loser_name          51523 non-null  object
 19  loser_hand          51482 non-null  object
 20  loser_ht            49500 non-null  float64
 21  loser_ioc           51523 non-null  object
 22  loser_age           51522 non-null  float64
 23  score               51522 non-null  object
 24  best_of             51523 non-null  int64
 25  round               51523 non-null  object
 26  minutes             45941 non-null  float64
 27  w_ace               47227 non-null  float64
 28  w_df                47227 non-null  float64
 29  w_svpt              47227 non-null  float64
 30  w_1stIn             47227 non-null  float64
 31  w_1stWon            47227 non-null  float64
 32  w_2ndWon            47227 non-null  float64
 33  w_SvGms             47228 non-null  float64
 34  w_bpSaved           47227 non-null  float64
 35  w_bpFaced           47227 non-null  float64
 36  l_ace               47227 non-null  float64
 37  l_df                47227 non-null  float64
 38  l_svpt              47227 non-null  float64
 39  l_1stIn             47227 non-null  float64
 40  l_1stWon            47227 non-null  float64
 41  l_2ndWon            47227 non-null  float64
 42  l_SvGms             47228 non-null  float64
 43  l_bpSaved           47227 non-null  float64
 44  l_bpFaced           47227 non-null  float64
 45  winner_rank         51193 non-null  float64
 46  winner_rank_points  51193 non-null  float64
 47  loser_rank          50587 non-null  float64
 48  loser_rank_points   50587 non-null  float64
dtypes: float64(27), int64(6), object(16)
memory usage: 19.3+ MB

In [22]:
data.to_csv('data/atp_matches_2005-2022.csv')